name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache-dependency-path: backend/go.sum

      - name: Setup AWS SAM CLI
        uses: aws-actions/setup-sam@v2
        with:
          use-installer: true

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Test Backend
        working-directory: backend
        run: go test -v ./...

      - name: Build SAM Application
        run: make build

      - name: Deploy to AWS
        run: |
          sam deploy --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --stack-name committee-apps-backend-prod \
            --resolve-s3 \
            --capabilities CAPABILITY_IAM \
            --region ${{ vars.AWS_REGION }} \
            --parameter-overrides DomainName=api.committee.eurekacycling.org.au HostedZoneId=${{ secrets.HOSTED_ZONE_ID }}
